<header class="display-flex justify-space-between align-left">
    <nav>
     <a href="/">Home</a>

    <a href="/leaderboard">Leaderboard </a>
    <!-- add search profile function later -->

    <a href="/myprofile">My Profile</a>

    <a id="logout" class="btn-no-style">Logout</button>

    <a href="/login">Login</a>

  </nav>
    <h1 id="main-header">
        Friendly Fire
    </h1>
  </header>