<header class='display-flex justify-space-between align-left'>

    <div class='header-logo'>
      <a href="/">
      <img
        src='{{sprayMap.cbcd99a5-49db-d39f-a060-67a781d1605a.displayIcon}}'
        alt='{{sprayMap.cbcd99a5-49db-d39f-a060-67a781d1605a.displayName}}'
      />
      </a>
    </div>
    <nav>
    <a href='/'>Home</a>

    <a href='/leaderboard'>Leaderboard </a>
    <!-- add search profile function later -->

    {{#if logged_in}}
      <a href='/myprofile'>My Profile</a>

      <a href='' id='logout'>Logout</a>
    {{else}}
      <a href='/login'>Login</a>
    {{/if}}

  <h1 id='main-header' style="margin-left: auto;">
    Friendly Fire
  </h1>
  </nav>
  
</header>