<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friendly Fire</title>
  <link rel="stylesheet" href="\css\jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-left">
    <nav>
     <a href="/">Home</a>
    
    <a href="/myprofile">My Profile</a>

    <a id="logout" class="btn-no-style">Logout</button>

    <a href="/login">Login</a>

  </nav>
    <h1 id="main-header">
        Friendly Fire
    </h1>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>