<div class="row">
  <div class="col-auto">
    <h2>About Us!</h2>
    <img src="">
    <p>We're a trio of students participating in the University of Toronto's SCS Coding Boot Camp. We've created our
      application to test our knowledge of the following:
    <ul>
      <li>Node.js, Express.js, RESTful API</li>
      <li>Handlebars.js </li>
      <li>MySQL and Sequelize ORM </li>
    </ul>
    </p>
  </div>
</div>

<div class="centered">

  <section class="bios">

    <article class="card">
      <h3>Devon</h3>
      <p>Bio:</p>
    </article>

    <article class="card">
      <h3>Rebecca</h3>
      <p>Bio:</p>
    </article>

    <article class="card">
      <h3>Ricky</h3>
      <p>Bio: Our resident Valorant player and general guru of the game!</p>
    </article>
  </section>
</div>



{{> footer}}