<div>
    <h2>Contact Us</h2>
</div>
    <div class="contact-links">
        <h4>Email</h4>
        <a id="email-link" href="">Friendlyfire@email.com</a>
    </div>
    <aside class='contact-social'>
            <h3>Meet The Friendly Fire Agents</h3>
            <ul>
              <li><a href='https://github.com/rkml14'><img
                    src='{{agentMap.Fade.displayIconSmall}}'
                    alt='Fade Icon'
                  />Rebecca</a></li>
              <li><a href='https://github.com/PoochMagunder'><img
                    src='{{agentMap.Omen.displayIconSmall}}'
                    alt='Omen Icon'
                  />Devon</a></li>
              <li><a href='https://github.com/akaydia'><img
                    src='{{agentMap.Jett.displayIconSmall}}'
                    alt='Jett Icon'
                  />Ricky</a></li>
            </ul>
            <!-- end of footer-social ul -->
    </aside>
