<div class='valorant-card'>
  <div class='valorant-card-body'>
    <h3>What is Valorant?</h3>
    <p>Valorant is a team-based first-person shooter game that combines
      fast-paced action with strategic gameplay. If you enjoy action-packed
      team-based games, you should check it out!</p>
    <button
      class='play-now-button'
      onclick="window.location.href='https://playvalorant.com/en-us/'"
    >Play Now</button>

  </div>
  <div class='valorant-video'>
    <iframe
      width='560'
      height='315'
      src='https://www.youtube.com/embed/le474A3jBxA'
      frameborder='0'
      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
      allowfullscreen
    ></iframe>
  </div>

  <div class='valorant-buttons'>
    <button
      class='home-button home-agent-button'
      onclick="window.location.href='/agents'"
    >Meet The Agents</button>
    <button
      class='home-button home-weapon-button'
      onclick="window.location.href='/weapons'"
    >Inspect The Weapons</button>
    <button
      class='home-button home-map-button'
      onclick="window.location.href='/maps'"
    >View The Maps</button>
  </div>
</div>

