<div class="row">
  <div class="col-auto">
    <h2>{{profile.username}}'s Profile!</h2>
    <img src="">
    <button onclick="window.location.href='https://project-friendly-fire.herokuapp.com/createprofile'" id="update-profile" onClick="myFunction" class="btn btn-sm btn-danger">Update Profile</a>
  </div>
</div>

<div>
    {{profile.bio}}
</div>

<div>
    {{!-- Where to api data will go --}}
</div>
{{> footer}}