<div class="row">
  <div class="col-auto">
    <h2>{{users.username}}'s Profile!</h2>
    <img src="">
  </div>
</div>

<div>
    {{users.bio}}
</div>

<div>
    {{!-- Where to api data will go --}}
</div>